@page
@model RotatingChores.Pages.Chores.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h2>All chores</h2>

    <p>
        <a asp-page="Create">Create new</a>
    </p>
</div>

<form id="input-form">
    <table class="table mt-5">
        <tbody>
            @for (int i = 0; i < Model.Chores.Count; i++)
            {
                string inputChoreId = $"input-{Model.Chores[i].ID}";
                string buttonChoreId = $"button-{Model.Chores[i].ID}";
                string todayBtnTitle = $"Set date last completed to today for {Model.Chores[i].Name}";
                string editBtnTitle = $"Edit {Model.Chores[i].Name}";
                string deleteBtnTitle = $"Delete {Model.Chores[i].Name}";
                string highPriorityTitle = $"{Model.Chores[i].Name} is high priority";

                string textClass = "name-column";
                if (Model.Chores[i].DueDate < DateTime.Today)
                {
                    textClass = "text-danger name-column";
                }
            <tr>
                <td class="button-column pl-0 pr-0">
                    <button type="button" id=@buttonChoreId class="update-to-today link-mimic" title="@todayBtnTitle" aria-label="@todayBtnTitle"><i aria-hidden="true" class="far fa-calendar-check fa-2x"></i></button>
                </td>
                <td class=@textClass>
                    <p>
                        @Html.DisplayFor(model => model.Chores[i].Name)  
                        @if (Model.Chores[i].IsHighPriority)
                            { 
                                <i aria-hidden="true" title="@highPriorityTitle" class="fas fa-exclamation"></i>
                                <span class="sr-only">@highPriorityTitle</span>
                            }
                        <br />
                        Due 
                        @Html.DisplayFor(model => model.Chores[i].DueDate)
                    </p>

                </td>
                <td class="icon-column pl-0 pr-0">
                    <a asp-page="./Edit" asp-route-id="@Model.Chores[i].ID" title="@editBtnTitle" aria-label="@editBtnTitle"><i aria-hidden="true" class="fas fa-edit fa-2x"></i></a> &nbsp;
                    <a asp-page="./Delete" asp-route-id="@Model.Chores[i].ID" title="@deleteBtnTitle" aria-label="@deleteBtnTitle"><i aria-hidden="true" class="far fa-trash-alt fa-2x"></i></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</form>
<form id="submit-form" asp-page-handler="update" method="post">
    <input id="submit-chore-id" type="hidden" asp-for="@Model.ChoreID" />
</form>

@section Scripts {
    <script type="text/javascript">
        function savedate() {
            var choreid = this.id.split("-")[1];
            var $submitForm = $($("#submit-form"));
            $("#submit-chore-id").val(choreid);
            $submitForm.submit();            
        }

        $(document).ready(function () {            
            $(".update-to-today").click(savedate)
        });
    </script>

}