@page
@model RotatingChores.Pages.Chores.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr >
            <th>
                @Html.DisplayNameFor(model => model.Chores[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chores[0].DateLastCompleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chores[0].FrequencyValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chores[0].IsHighPriority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chores[0].Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Chores) {
    string textClass = "";
    if (item.DueDate < DateTime.Today)
    {
        textClass = "text-danger";
    }

        <tr class=@textClass>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateLastCompleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrequencyValue) 
                @Html.DisplayFor(modelItem => item.FrequencyUnits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsHighPriority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
