@page
@model RotatingChores.Pages.Chores.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>MyChores</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form id="input-form">
    <table class="table col-xl-4 col-lg-6 col-sm-8 col-12">
        <thead>
            <tr>
                <th style="width: 10%"></th>
                <th style="width: 57%"></th>
                <th style="width: 43%"></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Chores.Count; i++)
            {
                string inputChoreId = $"input-{Model.Chores[i].ID}";
                string buttonChoreId = $"button-{Model.Chores[i].ID}";
                
                string textClass = "";
                if (Model.Chores[i].DueDate < DateTime.Today)
                {
                    textClass = "text-danger";
                }
            <tr>
                <td>
                    <button type="button" id=@buttonChoreId class="update-to-today"><i class="far fa-calendar-check fa-2x"></i></button>
                </td>
                <td class=@textClass>
                    <p>
                        @Html.DisplayFor(model => model.Chores[i].Name) &nbsp; 
                        @if (Model.Chores[i].IsHighPriority)
                            {
                                <i class="fas fa-exclamation"></i>
                            }
                        <br />
                        Due 
                        @Html.DisplayFor(model => model.Chores[i].DueDate)
                    </p>

                </td>

                <td>
                    <a asp-page="./Edit" asp-route-id="@Model.Chores[i].ID"><i class="fas fa-edit fa-2x"></i></a> &nbsp;
                    <a asp-page="./Delete" asp-route-id="@Model.Chores[i].ID"><i class="far fa-trash-alt fa-2x"></i></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</form>
<form id="submit-form" asp-page-handler="update" method="post">
    <input id="submit-chore-id" type="hidden" asp-for="@Model.ChoreID" />
</form>

@section Scripts {
    <script type="text/javascript">
        function savedate() {
            var choreid = this.id.split("-")[1];
            var $submitForm = $($("#submit-form"));
            $("#submit-chore-id").val(choreid);
            $submitForm.submit();            
        }

        $(document).ready(function () {            
            $(".update-to-today").click(savedate)
        });
    </script>

}