@page
@model RotatingChores.Pages.Chores.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1>All chores</h1>
    <p>
        <a asp-page="Create">Create new chore</a>
    </p>
</div>

<form id="input-form">
    <table class="table mt-5">
        <tbody>
            @for (int i = 0; i < Model.Chores.Count; i++)
            {
                string inputChoreId = $"input-{Model.Chores[i].ID}";
                string buttonChoreId = $"button-{Model.Chores[i].ID}";
                string todayBtnTitle = $"Mark {Model.Chores[i].Name} as done today";
                string editBtnTitle = $"Edit {Model.Chores[i].Name}";
                string deleteBtnTitle = $"Delete {Model.Chores[i].Name}";
                string highPriorityTitle = $"{Model.Chores[i].Name} is high priority.";
                string dueTodayTitle = $"{Model.Chores[i].Name} is due today.";
                string overdueTitle = $"{Model.Chores[i].Name} is overdue.";

            <tr>
                <td class="button-column pl-0 pr-0">
                    <button type="button" id=@buttonChoreId class="btn btn-primary btn-sm update-to-today" title="@todayBtnTitle" aria-label="@todayBtnTitle">
                        <i aria-hidden="true" title="@todayBtnTitle" class="far fa-check-square fa-2x"></i>
                    </button>
                </td>
                <td class="name-column">
                    <p>
                        @Html.DisplayFor(model => model.Chores[i].Name)
                        @if (Model.Chores[i].IsHighPriority)
                        {
                            <i aria-hidden="true" title="@highPriorityTitle" class="fas fa-star"></i>
                            <span class="sr-only">@highPriorityTitle</span>
                        }
                        <br />
                        @if (Model.Chores[i].Notes != "" && Model.Chores[i].Notes != null)
                        {
                            @Html.DisplayFor(model => model.Chores[i].Notes)
                            <br />
                        }
                        Due
                        @Html.DisplayFor(model => model.Chores[i].DueDate)
                        @if (Model.Chores[i].DueDate == DateTime.Today)
                        {
                            <i aria-hidden="true" title="@dueTodayTitle" class="fas fa-exclamation"></i>
                            <span class="sr-only">@dueTodayTitle</span>
                        }
                        @if (Model.Chores[i].DueDate < DateTime.Today)
                        {
                            <i aria-hidden="true" title="@overdueTitle" class="fas fa-exclamation"></i>
                            <i aria-hidden="true" title="@overdueTitle" class="fas fa-exclamation"></i>
                            <span class="sr-only">@overdueTitle</span>
                        }
                    </p>

                </td>
                <td class="icon-column pl-0 pr-0">
                    <a asp-page="./Edit" asp-route-id="@Model.Chores[i].ID" title="@editBtnTitle" aria-label="@editBtnTitle"><i aria-hidden="true" class="fas fa-edit fa-2x"></i></a> &nbsp;
                    <a asp-page="./Delete" asp-route-id="@Model.Chores[i].ID" title="@deleteBtnTitle" aria-label="@deleteBtnTitle"><i aria-hidden="true" class="far fa-trash-alt fa-2x"></i></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</form>
<form id="submit-form" asp-page-handler="update" method="post">
    <input id="submit-chore-id" type="hidden" asp-for="@Model.ChoreID" />
    <input id="submit-local-date" type="hidden" asp-for="@Model.LocalDate" />
</form>

@section Scripts {
    <script type="text/javascript">
        function savedate() {
            //rewrite this because it is weird
            var todaydate = new Date();
            var dd = String(todaydate.getDate()).padStart(2, '0');
            var mm = String(todaydate.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = todaydate.getFullYear();
            todaystring = yyyy + '/' + mm + '/' + dd;

            var choreid = this.id.split("-")[1];
            var $submitForm = $($("#submit-form"));

            $("#submit-chore-id").val(choreid);
            $("#submit-local-date").val(todaystring);
            $submitForm.submit();            
        }

        $(document).ready(function () {            
            $(".update-to-today").click(savedate)
        });
    </script>

}